[submodule "gym-duckietown"]
	path = gym-duckietown
	url = https://github.com/erufes/gym-duckietown
[submodule "duckietown-world"]
	path = duckietown-world
	url = https://github.com/erufes/duckietown-world
